*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-body-tertiary {
    
    background-color: grey;
}

/* .navbar-brand{
    margin-left:30px;
    color: rgb(88, 3, 3);
    font-size: 12px;
    
    
    
} */


.nav3{
     margin-right: 50px;
    display: flex;
    font-size: 12px;
    
   
}

.nav3>a{
    margin: 4px 0px ;
    padding: 0px;
    border: solid 1px;
    background-color: white;
    

    /* width: 4rem;
    height: 30px; */
    text-align: center;
}



.box_5{
    margin: 40px 60px;
    display: flex;
    align-items:baseline;
    
    

} 
.input-button{
    margin-left: 10rem;
}

.vyp{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    
}

article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin: 5rem 0rem 0rem;
    background-color: rgb(194, 191, 191);
    padding: 12px 0px;
    
}

.foot1 > a{
    margin: 0px 20px;
}

.mb-3{
    margin: 0px 19rem;
}

.col-12 {
margin-left: 10rem;
}

.box{
    margin: 5px 3rem;
    padding: 40px 5px ;
}
.flex-grow-1{
    width: 410px;
    height: 410px;
    text-align: center;
}

.box2{
    margin-top  :130px;
}

.flex-shrink-0{
    box-shadow: 5px 8px 10px black;
}

table{
    border: 1px solid black;
    
}

tr{
   border: 1px solid black;
   
   
}

th{
    border: 1px solid black;
    background-color: rgb(184, 184, 184);
    padding: 9px 0px;
    font-size: 22px;
    
 
}

td{
    border: 1px solid black;
    padding: 1px 4px;

}

.centrado-tabla{
    display: flex;
    justify-content: center;
    margin:0px 15px;
}


/*Media queries*/
@media only screen and (min-width: 320px) and (max-width: 767px){
    
      
      
.nav3{
   display:block;
}

header{
    margin-right: 0px;
}
.box_5{
    margin: 40px 60px 10px 60px; 
    display: block;
    

}

.caja1{
    display: flex;
    flex-wrap: wrap;
    
}

.caja2{
    position: relative;
    left: 10rem;
    top: 10px;
    
}
.btn{
    padding: 0px 1px;
}

.flex-shrink-0>img{
      width: 145px;
      height: 145px;
}
.flex-grow-1{
    width: 145px;
    height: 145px;
}
.box2, .box3{
    position: relative;
    bottom: 120px;
}
.box{
     margin: 70px 2px 180px;
     padding: 12px 5px;
     position: relative;
     top: 40px;
     
}

.me-2{
    padding:0px 60px;
    
}
footer{
    display: block;
    
}
.foot1{
    position: relative;
    left: 35px;
}
.foot2{
    text-align: center;
}
.btnn{
    position: relative;
    right: 157px;
    margin-top: 120px;
    margin-bottom: 200px;
}

.mb-3{
    margin:10px 80px;
    position: relative;
    top: 70px;
    right: 30px;

    
}

}

.form-control{
    padding:0px 110px;
}


@media only screen and (min-width: 768px) and (max-width: 1023px){

    .nav3{
        position: relative;
        right: 5rem;
        font-size: 15px;
    }
    .anterior-siguiente{
        display: flex;

    }

    .box_5{
        position: relative;
        right: 20px;
    }
    
    .caja2{
        margin-left: 3px;
    }
    .foot2{
        position: relative;
        right: 10px;
    }
    .box{
        margin: 200px 20px;
        padding: 20px 10px  ;
    }
    .mb-3{
        margin:0px 50px;
    }
    .btnn{
        margin: 159px;
    }
    .flex-shrink-0>img{
        width: 320px;
        height: 320px;
  }
  .flex-grow-1{
      width: 320px;
      height: 320px;
  }

    .col-12{
        margin: 20px 3px 0px 2px;
    }
    .centrado-tabla{
        margin: 105px 10px;
    }
   
}

/* @media only screen and (min-width: 1024px) and (max-width: 1339px){
    .nav3{
        position: relative;
        right: 6rem;
        font-size:20px;
    }

    .mb-3{
        margin:60px 50px;
        font-size:20px ;
    }
    
    .btnn{
        position: relative;
        right: 157px;
        margin-top: 150px;
        margin-bottom: 250px;
        width: 150px;
        height: 70px;
        font-size: 20px;
    }
    header{
        margin-bottom: 15rem;
    }

}  */


/* ////////////////////////////////////////////////////////////////// */

#categorias-container{
    text-align: center;
}
input{
    
    margin: 20px 5px 5px;
  }

label{
    margin-right:10px;
}


.tarjeta {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
  }   